// Cost of Living vs Income Viz

@import "./_variables";

#col_vs_income {
  max-width: $content-width;

  text.county-label {
    font-size: 0.7em;
    text-anchor: end;
    alignment-baseline: middle;
  }

  rect.even {
    fill: #fff;
  }
  rect.odd {
    fill: #eee;
  }
}

/* TOOLTIPS */

.grid {
  cursor: pointer;
}

.tooltip-container {
  .tooltip-background {
    fill: #fefefe;
    stroke: #777;
    stroke-width: 0.5px;
  }

  .tooltip-text {
    font-color: grey;
    font-size: 0.75rem;
  }
}

/* EXTRAS */
.notes {
  font-color: grey;
  font-size: 0.95rem;

  font-style: italics;
}

line.col-line {
  stroke: #555;
  stroke-width: 1px;
}

line.below {
  stroke: #d62728;
  stroke-width: 1px;
}

circle.col-marker {
  fill: darkred;
}

circle.income-marker {
  fill: steelblue;
}

.active {
  background-color: #bababa;
}

.controls {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .control-button {
    color: #000;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    text-align: center;
    border: 1px solid rgba(127, 125, 156, .54);
    margin-left: -1px;
  }

  .front-curve {
  }
  .back-curve {
  }
}
