@import "style-guide-4.0.4/_sass/main";

#quote_map_container {
  position: relative;
  background-color: #1a1a1a; //rgb(31,32,32);
  color: $color-grey-100;
  margin: 0;
  padding: 0;

  overflow-y: hidden;
  overflow-x: hidden;

  #quote_county_name {
    text-align: center;
  }

  blockquote {
    color: #fefefe;
    position: relative;
    margin: 0.45em 0 1em 0.5em;
    padding: 0em 0 0 35px;
    font-size: 1.1rem;
  }

  blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 60px;
    position: absolute;
    left: -2px;
    top: -20px;
    color: $color-grey-100;
  }

  blockquote cite {
    color: $color-grey-100;
    font-size: 14px;
    display: block;
    margin-top: 7px;
  }

  blockquote cite:before {
    content: "\2014 \2009";
  }

  .county-info {
    padding-bottom: 2rem;
  }

  .county-data {
    tbody {
      padding: 0.5rem;
      margin: 0.25rem;
    }

    td {
      border: 1px solid #1a1a1a;
      border-bottom: 1px solid $color-grey-700;
    }
  }

  .profile-image {
    margin-top: 1rem;
    width: 150px;
    height: 150px;
    background: #666;
  }

  #quote_map {
    position: absolute; // JS should change this to 'fixed'
    top: 0px;
    left: 50vw;
    height: 100vh;
    width: 50vw;
  }

  #quote_map.sticky {
    //position: -webkit-sticky;
    //position: sticky;
    position: fixed;
    top: 0;
  }

  .quote-map-title {
    padding: 1rem;
  }

  .quote-map-section {
    height: 95vh;
    margin-top: 1rem;
    padding: 1rem 0 1rem 0;
  }
}


@media only screen and (max-width: 900px) {
  #quote_map_container {
    #quote_map {
      position: absolute; // "fixed"
      top: 0px;
      left: 0px;
      height: 40vh;
      width: 100vw;
    }

    #quote_map_content, #quote_map_quotes {
      margin-top: 40vh;
      width: 100vw;
      height: 67vh;

      //box-sizing: content-box;
      //overflow-y: scroll;
    }

    .quote-map-section {
      width: 100%;
    }

    blockquote {
      font-size: 1.1rem;
    }
  }
}
