@import "style-guide-4.0.4/_sass/main";

#quote_map_container {
  position: relative;
  background-color: #1a1a1a; //rgb(31,32,32);
  color: $color-grey-100;
  margin: 0;
  padding: 0;

  overflow-y: hidden;
  overflow-x: hidden;

  #quote_county_name {
    text-align: center;
  }

  blockquote {
    color: #fefefe;
    position: relative;
    margin: 0.45em 0;
    padding: 0.3em 40px;
  }

  blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: $color-grey-100;
  }

  blockquote cite {
    color: $color-grey-100;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

  blockquote cite:before {
    content: "\2014 \2009";
  }

  .county-info {
    padding-bottom: 2rem;
  }

  .county-data {
    td {
      border: 1px solid #1a1a1a;
      border-bottom: 1px solid $color-grey-700;
    }

    tr {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .profile-image {
    margin-top: 1rem;
    width: 150px;
    height: 150px;
    background: #666;
  }

  #quote_map {
    position: absolute; // JS should change this to 'fixed'
    top: 0px;
    left: 60vw;
    height: 100vh;
    width: 40vw;
  }

  .title {
    text-align: center;
  }

  .quote-map-section {
    height: 100vh;
  }
}


@media only screen and (max-width: 900px) {
  #quote_map_container {
    #quote_map {
      position: absolute; // "fixed"
      top: 0px;
      left: 0px;
      height: 40vh;
      width: 100vw;
    }

    #quote_map_content, #quote_map_quotes {
      margin-top: 40vh;
      width: 100vw;
      height: 67vh;

      //box-sizing: content-box;
      //overflow-y: scroll;
    }

    .quote-map-section {
      width: 100%;
    }
  }
}
