#quote_map_container {
  background-color: #FEFEFE;
  margin: 0;
  padding: 0;

  overflow-y: hidden;

  #quote_map {
    position: fixed;
    top: 0px;
    left: 50vw;
    height: 100vh;
    width: 50vw;
  }

  #quote_map_content {
    height: 100vh;
    padding-top: 4em;
    margin-left: 4em;
    margin-right: 0;

    overflow-y: scroll;
  }

  // TODO: Mobile view
}
