@import "style-guide-4.0.4/_sass/main";
@import "./_quote_map";

$section-padding: 1em;

body {
  max-width: 100%;
  overflow-x: hidden;
}

.side-nav {
  max-width: 15vw;

  .side-nav-list {
    paddding-left: 0;
  }

  ul {
    margin: 0;
    position: absolute;
    top: 2vh;
    left: 0;
    list-style: none;
  }

  li {
    font-size: 1.2em;
    margin: 0;
  }

  .nav-item {
    background: #fff;
    padding: 0.25rem 0.5rem 0.5rem 1.5rem;
  }
}

.header {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../media/grocery.jpg");
  color: #000;
  height: 100vh;
  width: 100vw;

  align-items: center;
  display: flex;
  justify-content: start;

  .header-content {
    z-index: 100;
    width: 980px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 4vw;
    padding-right: 4vw;

    color: #fff;

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.article-container, .cta {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;

  padding: 0vh 4vw 2vh 4vw;

  font-size: 1.2rem;

  p {
    font-size: 1.2rem;
  }
}

.article-container {
  .article-section, {
    padding-top: 4em;
  }
  .notes, .visualization {
    padding-top: 2em;
  }

  .explanation {
    width: 100%;
    padding-bottom: $section-padding;
  }

  .profile-image {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    background-color: #ccc;
    height: 350px;
    width: 100%;
  }

  .profile {
    padding-bottom: $section-padding;
  }

  .profile-quote {
    font-style: italic;
    font-size: 1.5em;
  }

  .visualization {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
  }

  .visualization-placeholder{
    background-color: #ccc;
    height: 350px;
    width: 100%;
    text-align: center;
  }
}

#cta {
  padding-bottom: 3em;
}

@media only screen and (max-width: 1000px) {
  .side-nav {
    display: none;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 1em;
  }
}

// Cost of Living vs Income Viz
#col_vs_income {
  max-width: 980px;

  text.label {
    font-size: 0.85em;
    text-anchor: end;
    alignment-baseline: middle;
  }

  rect.even {
    fill: none;
  }
  rect.odd {
    fill: #eee;
  }
}

.notes {
  font-color: grey;
  font-size: 0.95rem;

  font-style: italics;
}

line.col-line {
  stroke: #555;
  stroke-width: 2px;
}

line.below {
  stroke: #d62728;
  stroke-width: 4px;
}

circle.col-marker {
  fill: darkred;
}

circle.income-marker {
  fill: steelblue;
}

#viz1, #col_viz {
  rect.housing {
    fill: #c7e9b4;
  }

  rect.medical {
    fill: #7fcdbb;
  }

  rect.transportation {
    fill: #41b6c4;
  }

  rect.child-care {
    //"#1d91c0","#225ea8","#253494","#081d58"
    fill: #1d91c0;
  }

  rect.food {
    //fill: 0x8b0000
    fill: #e31a1c;
    fill-opacity: 0.3;
    outline-color: #e31a1c;
    outline-width: 2.5px;
    outline-style: dashed;
    outline-offset: -2.5px;
  }

  .limit-line {
    stroke: #444;
    stroke-dasharray: 2;
  }
}

.annotation-note-label {
  font-size: 0.85em;
}

.label {
  font-size: 0.9rem;
  text-align: right;
  vertical-align: middle;
  line-height: 0.9;
}

.legend {
  font-size: 0.9rem;
  text-anchor: end;
}
