@import "style-guide-4.0.4/_sass/main";
@import "./_quote_map";
@import "./_cost_of_living_viz";

$section-padding: 1rem;

body {
  max-width: 100%;
  overflow-x: hidden;
  font-color: #333;
}

.side-nav {
  width: 15vw;
  position: fixed;
  top: 0;

  .side-nav-list {
    paddding-left: 0;
  }

  ul {
    margin: 0;
    position: absolute;
    top: 2vh;
    left: 0;
    list-style: none;
  }

  li {
    font-size: 1.2em;
    margin: 0;
  }

  .nav-item {
    background: #fff;
    padding: 0.25rem 0.5rem 0.5rem 1.5rem;
  }
}

.header {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("../media/pexels-photo-95425.jpeg");
  background-size: cover;
  color: #000;
  height: 100vh;
  width: 100vw;

  align-items: center;
  display: flex;
  justify-content: start;

  .header-content {
    z-index: 100;
    width: 980px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 4vw;
    padding-right: 4vw;

    color: #fff;

    h1 {
      font-size: 5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

.article-container, .cta {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;

  padding: 0vh 4vw 2vh 4vw;

  font-size: 1.2rem;

  p {
    font-size: 1.2rem;
  }
}

.article-container {
  hr {
    margin-top: 2em;
    margin-bottom: 0;
    border: none;
    border-top: 1px dotted #555;
    color: #fff;
    background-color: #fff;
    height: 1px;
  }

  .article-section, {
    padding-top: 2em;
  }

  .notes, .visualization {
    padding-top: 2em;
  }

  .explanation {
    width: 100%;
    padding-bottom: $section-padding;
  }

  .profile-image {
    margin-top: 1rem;
    margin-bottom: 0.625rem;
    background-color: #ccc;
    height: 350px;
    width: 100%;
  }

  .profile {
    padding-bottom: $section-padding;
  }

  .profile-quote {
    font-style: italic;
    font-size: 1.5em;
  }

  .visualization-placeholder{
    background-color: #ccc;
    height: 350px;
    width: 100%;
    text-align: center;
  }
}

#cta {
  height: 80vh;
}

@media only screen and (max-width: 1000px) {
  .side-nav {
    display: none;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 1em;
  }
}

// Cost of Living vs Income Viz
#col_vs_income {
  max-width: 980px;

  text.label {
    font-size: 0.85em;
    text-anchor: end;
    alignment-baseline: middle;
  }

  rect.even {
    fill: none;
  }
  rect.odd {
    fill: #eee;
  }
}

.notes {
  font-color: grey;
  font-size: 0.95rem;

  font-style: italics;
}

line.col-line {
  stroke: #555;
  stroke-width: 2px;
}

line.below {
  stroke: #d62728;
  stroke-width: 4px;
}

circle.col-marker {
  fill: darkred;
}

circle.income-marker {
  fill: steelblue;
}

